version: '3.7'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    container_name: chess-game-frontend
    volumes:
      - ./chess-ai/src:/app/src
      - ./chess-ai/public:/app/public
    ports:
      - "3000:3000"
    networks:
      - default